@use "mixins";
@use "variables";

.footer {
  position: relative;
  color: var(--neutral-very-pale-blue);
  background-color: var(--neutral-very-dark-cyan);

  &::before {
    @include mixins.bgImage("footer-top-mobile", 53px);
  }
}

.contain {
  padding: mixins.rem(variables.$padding);
  @include mixins.displayFlex(true, start, center, mixins.rem(36px));
}

.subcontain {
  width: 100%;
  @include mixins.displayFlex(true, initial, center, mixins.rem());

  &__title {
    text-transform: uppercase;
    @include mixins.font($weight: var(--bold-weight));
  }

  &__paragraph {
    width: 100%;
    padding-right: mixins.rem(4px);
    @include mixins.font($size: 14.45px);

    &--size {
      @include mixins.font($size: 12px);
      text-align: center;
    }
  }

  &__logo {
    width: min(50%, mixins.rem(163.5px));
  }

  &__link {
    color: var(--primary-pink);
    font-style: italic;

    &:hover,
    :active {
      text-decoration: 1px underline var(--primary-pink);
    }
  }
}

.form {
  $radius: 5px;

  width: 100%;
  @include mixins.displayFlex(true, end, center, mixins.rem());

  &__label {
    width: 100%;
    color: var(--primary-light-red);
    @include mixins.font($size: 13.45px);
  }

  &__input {
    width: 100%;
    border-radius: $radius;
    padding: mixins.rem();
    background-color: var(--neutral-very-pale-blue);
    color: var(--neutral-very-dark-cyan);
    @include mixins.font($size: 14.45px);
    caret-color: black;
    outline: none;

    &::placeholder {
      @include mixins.font(inherit, inherit, inherit);
    }

    &--error {
      border: 1px solid var(--primary-light-red);
    }
  }

  &__button {
    width: 50%;
    padding: mixins.rem(15px);
    @include mixins.button($radius: $radius, $box-shadow: false);
    @include mixins.font($weight: var(--bolder-weight), $size: 14.45px);
  }
}

.address {
  @include mixins.displayFlex(true, initial, center, mixins.rem());
  font-style: normal;
}

.contact {
  @include mixins.displayFlex(
    $align: center,
    $justify: initial,
    $gap: mixins.rem()
  );

  &__icon {
    width: mixins.rem(20px);
  }

  &__span {
    @include mixins.font($size: 14.45px);
  }
}

.icons {
  @include mixins.displayFlex(false, center, space-between, mixins.rem());

  &__icon {
    cursor: pointer;
    &:hover,
    &:active {
      & .svg-inline--fa > path {
        transition: 0.4s;
        fill: hsl(203, 89%, 53%);
      }
    }
  }
}
