@use "mixins";
@use "variables";

.header {
  width: 100%;
  padding: mixins.rem(variables.$padding);
  @include mixins.displayFlex($align: center, $justify: space-between);
}

.home {
  max-width: mixins.rem(100px);
  &__img {
    width: 100%;
  }
}

.nav {
  @include mixins.displayFlex($align: center, $justify: center);
  &__button {
    padding: mixins.rem(4px) mixins.rem(10px);
    @include mixins.button(true);
    @include mixins.font($size: 14px, $weight: var(--lighter-weight));
  }
}
