@use "mixins";
@use "variables";

/* --- HEADER --- */

$padding-mobile: mixins.rem(36px) mixins.rem(24px);
$padding-desktop: mixins.rem(60px);

.header {
  width: 100%;
  padding: $padding-mobile;
  @include mixins.displayFlex($align: center, $justify: space-between);

  @include mixins.media() {
    padding: mixins.rem($padding-desktop);
  }
}

.home {
  width: min(mixins.rem(150px), 40%);
  &__img {
    width: 100%;
  }
}

.nav {
  @include mixins.displayFlex($align: center, $justify: center);
  &__button {
    padding: mixins.rem(4px) mixins.rem(10px);
    @include mixins.button(true);
    @include mixins.font($size: 14px);
  }
}
