@use "mixins";
@use "variables";

$padding-subsection: mixins.rem(20px);
$padding-mobile: mixins.rem(64px) mixins.rem(24px);
$padding-desktop: mixins.rem(120px) mixins.rem(80px);

/* --- MAIN --- */

.main {
  width: 100%;
  @include mixins.displayFlex(column, center, initial, mixins.rem(80px));
}

.section {
  position: relative;
  width: 100%;
  min-height: 90vh;
  padding: $padding-mobile;
  @include mixins.displayFlex(column, center, center, mixins.rem(85px));
  text-align: center;

  &:is(.section-2, .section-4) {
    background-color: var(--neutral-very-pale-blue);
  }

  &-2 {
    &::before {
      @include mixins.bgImage("section-top-mobile-1", 114px);
    }
    &::after {
      @include mixins.bgImage("section-bottom-mobile-1", 103px);
    }
  }

  &-4 {
    &::before {
      @include mixins.bgImage("section-top-mobile-2", 103px);
    }
    &::after {
      @include mixins.bgImage("section-bottom-mobile-2", 101px);
    }
  }

  &-5 {
    padding-top: 0;
  }

  @include mixins.media() {
    padding: $padding-desktop;

    &__img--main {
      width: 70%;
    }

    &:is(.section-2, .section-4) {
      @include mixins.displayFlex(row-reverse, center, space-between);
    }

    &:is(.section-2, .section-3, .section-4) {
      & .section__img {
        width: 50%;
      }

      & :is(.subsection__title, .subsection__paragraph) {
        text-align: start;
      }
    }

    &-3 {
      @include mixins.displayFlex(row, center, space-between);
    }

    &-2 {
      &::before {
        @include mixins.bgImage("section-top-desktop-1", 165px);
      }
      &::after {
        @include mixins.bgImage("section-bottom-desktop-1", 139px);
      }
    }

    &-4 {
      &::before {
        @include mixins.bgImage("section-top-desktop-2", 156px);
      }
      &::after {
        @include mixins.bgImage("section-bottom-desktop-2", 139px);
      }
    }

    &-5 {
      padding: {
        top: 0;
        bottom: mixins.rem(156.8px);
      }
    }
  }
}

.subsection {
  @include mixins.displayFlex(column, center, center, $padding-subsection);

  &__title {
    width: 100%;
    @include mixins.font(
      var(--secondary-font-family),
      var(--bolder-weight),
      23px
    );
    text: {
      transform: capitalize;
      align: center;
    }

    &--main {
      @include mixins.font(
        var(--secondary-font-family),
        var(--bolder-weight),
        26px
      );
    }
  }

  &__paragraph {
    width: 100%;
    max-width: 465px;
    color: var(--neutral-very-dark-cyan);
    @include mixins.font($size: 14.45px);

    &--main {
      max-width: 425px;
    }
  }

  &__button {
    padding: mixins.rem(13px) mixins.rem(41px);
    @include mixins.button();
    @include mixins.font($size: 14.45px, $weight: var(--bold-weight));
  }
}

.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  justify-items: center;
  gap: mixins.rem(64px);
}

.item {
  @include mixins.displayFlex(column, center, start, 0.5rem);

  &__icon {
    $contain: 35px;
    width: mixins.rem($contain);
    height: mixins.rem($contain);
    background: {
      repeat: no-repeat;
      position: center center;
      size: 100%;
    }
    align-self: flex-start;
  }

  &__title {
    @include mixins.font($size: 64px, $weight: var(--bolder-weight));
  }

  &__paragraph {
    @include mixins.font($size: 14.45px);
    text-transform: capitalize;
    opacity: 0.65;
  }
}

.communities {
  background-image: url(../images/icon-communities.svg);
}

.messages {
  background-image: url(../images/icon-messages.svg);
}
