@use "mixins";
@use "variables";

$padding: mixins.rem(20px);

.main {
  width: 100vw;
  @include mixins.displayFlex(true, center, initial);
}

.section {
  position: relative;
  width: 100vw;
  min-height: 90vh;
  padding: mixins.rem(variables.$padding);
  @include mixins.displayFlex(true, center, center, mixins.rem(85px));
  text-align: center;

  &:not(.section-1, .section-2) {
    margin: mixins.rem(38px) 0;
    padding: mixins.rem(variables.$padding * 3.4) mixins.rem(variables.$padding);
  }

  &-2 {
    margin-bottom: mixins.rem(38px);
    padding-bottom: mixins.rem(variables.$padding * 3.4);
  }

  &:is(.section-3, .section-5) {
    background-color: var(--neutral-very-pale-blue);
  }

  &-3 {
    &::before {
      @include mixins.bgImage("section-top-mobile-1", 114px);
    }
    &::after {
      @include mixins.bgImage("section-bottom-mobile-1", 103px);
    }
  }

  &-5 {
    &::before {
      @include mixins.bgImage("section-top-mobile-2", 103px);
    }
    &::after {
      @include mixins.bgImage("section-bottom-mobile-2", 101px);
    }
  }

  &__title {
    width: 100%;
    @include mixins.font(
      var(--secondary-font-family),
      var(--bolder-weight),
      23px
    );
    text: {
      transform: capitalize;
      align: center;
    }

    &--main {
      @include mixins.font(
        var(--secondary-font-family),
        var(--bolder-weight),
        26px
      );
    }
  }

  &__paragraph {
    width: 100%;
    color: var(--neutral-very-dark-cyan);
    @include mixins.font($size: 14.45px);
  }

  &__button {
    padding: mixins.rem(13px) mixins.rem(41px);
    @include mixins.button();
    @include mixins.font($size: 14.45px, $weight: var(--bold-weight));
  }
}

.container {
  @include mixins.displayFlex(true, center, center, $padding);
}

.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  justify-items: center;
  gap: mixins.rem(64px);
}

.item {
  @include mixins.displayFlex(true, center, start, 0.5rem);

  &__icon {
    $contain: 40px;
    width: mixins.rem($contain);
    height: mixins.rem($contain);
    background: {
      repeat: no-repeat;
      position: center center;
      size: contain;
    }
    align-self: flex-start;
  }

  &__title {
    @include mixins.font($size: 64px, $weight: var(--bolder-weight));
  }

  &__paragraph {
    color: var(--neutral-gray);
    @include mixins.font($size: 14.45px);
    text-transform: capitalize;
  }
}

.communities {
  background-image: url(../images/icon-communities.svg);
}

.messages {
  background-image: url(../images/icon-messages.svg);
}
