$padding: 24px;
$padding-desktop: 60px;

:root {
  /* Colors */
  --primary-pink: hsl(322, 100%, 66%);
  --primary-light-pink: hsl(321, 100%, 78%);
  --primary-light-red: hsl(0, 100%, 63%);
  --neutral-very-dark-cyan: hsl(192, 100%, 9%);
  --neutral-very-pale-blue: hsl(210, 100%, 98%);
  --neutral-gray: hsl(220, 2%, 73%);

  /* Typography */
  --primary-font-family: "Open Sans", sans-serif;
  --secondary-font-family: "Poppins", sans-serif;

  --normal-weight: 400;
  --bold-weight: 600;
  --bolder-weight: 700;
}
